.baicaijianav {
  height: 2.05rem;
  overflow: hidden;
}
.baicaijianav ul li {
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  display: inline-block;
  line-height: 2.05rem;
  color: #000;
  font-size: 1rem;
}
.baicaijianav ul li.current {
  border-bottom: 1px solid #DE1A1C;
}
.baijiacaiProduct .productImg {
  width: 30%;
  float: left;
}
.baijiacaiProduct .productinfo {
  width: 70%;
  float: right;
}
