.money_title {
  font-size: 18px;
  color: #666666;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.money_pingjia {
  margin-left: 0.4rem;
  margin-bottom: 0.5rem;
}
.product_info {
  width: 60%;
  float: left;
  font-size: 14px;
}
.money_info img {
  width: 40%;
  float: right;
}
.buy {
  height: 3.8rem;
  text-align: center;
}
.buy button {
  height: 2.5rem;
  width: 19rem;
  background-color: #FF9000;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
}
